h1 {
    text-align: center;
    border-bottom: 3px solid black;
    margin: 10px;
    padding: 10px;
}

table, th, td {
    text-align: center;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    padding: 12px;
    margin: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

td {
    padding: 12px;
    margin: 10px;
}

#monthlyCostCalc {
    margin-top: 50px;
}