body {
    background-color: #ffffe6;
    margin-left: 14%;
    margin-right: 14%;
}

h1 {
    text-align: center;
    border-bottom: 3px solid black;
    margin: 10px;
    padding: 10px;
}

#employeeInput {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
}

#submitButton {
    font-size: 20px;
    margin-top: 15px;
}

table, th, td {
    text-align: center;
}

table {
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 31px;
    margin: 10px;
    margin-top: 15px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 20px;
}

.employeeInfo {
    padding: 12px;
    margin: 10px;
    font-size: 16;
}

#monthlyCostCalc {
    margin-top: 50px;
    font-size: 28px;
}

.inputForm {
    font-size: 16.5px;
}